name: Sync to Hugging Face Hub

on:
  push:
    branches:
      - main

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Git user
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"

      - name: Push to Hugging Face Space
        run: |
          git remote add hub https://IdreesKhan315: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@huggingface.co/spaces/IdreesKhan315/deepfake-image-detector.git
          git push hub main --force
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
